<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/enrol/self/withoutkey.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/assignment/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/chat/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/choice/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/data/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/folder/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/forum/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/glossary/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/imscp/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/label/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/lesson/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/page/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/quiz/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/resource/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/scorm/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/survey/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/url/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/wiki/icon.png>
<img src=http://clue/bmbr/moodle/theme/./sonsbeekmedia/pix_plugins/mod/workshop/icon.png>
