/********************************************************
**
** Theme name: Leatherbound
** Description: A GPL theme for the Moodle core.
** Creation Date: 11/24/09
** Author: Patrick Malley
** Author URI: http://newschoollearning.com
**
** Customize, edit, poke, prod, and adapt to your needs.
**
*********************************************************/

/* Global 
------------------------*/

body {
    background: #fff;
    margin: 0;
    padding: 0;
    color: #281f18;
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea {
    font-family: Verdana, Helvetica, Arial, sans-serif;

    color: #666666;
}

.content {
	    font-size: 95%;
}

.wrapper {
    margin: 0 25px;
}

a:link,a:visited {
    color:[[setting:linkcolor]];
}

a:hover,a:active {
    color: #251c17;
}

a img {
    border: none;
}

a:active {
    outline: none;
}

/* Header 
-----------------------*/

#page-header {
    float: none;
    
}

#page-header .wrapper {
	
}

#page-header h1 {
    font-size: 2.25em;
    margin: 30px 0 20px;
}

#page-header h1.inside {
    font-size: 1.8em;
    margin: 20px 0 10px;
}

.headermenu {
    
    font-size: 0.9em;
}

/* Navbar
-----------------------*/

.navbar {

    
    margin: 0;
    padding: 5px 0;
}

.breadcrumb {
    padding-left: 10px;
}

.navbar .navbutton {
    margin-top: 0;
}

.breadcrumb .sep {
    font-size: 0.8em;
    color: #999;
}

/* Content
-----------------------*/

#page-content-wrapper {
    float: none;
   
}

/* Blocks
-----------------------*/

.block {
    margin-bottom: 10px;
    border: none;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB; 
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}


.block .header h2 {
    background-color: #29A6C9;
    background-image:  url([[pix:theme|grad-b]]);
    color: #FFFFFF;
    margin: 0;
    padding: 10px;
    text-transform: uppercase; 
}

div#region-post.block-region .header h2 {
	 background-color: #EF8100;
}


.block .content {
    background-color: #FFFFFF;
    padding: 4px;
}

.block .content a {
    color: #29A6C9;
}

div#region-post.block-region .block .content {
    background-color: #FFFFFF;
    padding: 4px;
}



.block .title h2 {
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0;
}

/* Forum
------------------------*/

.forumpost .topic {
    background: #dbd6c7;
    border-bottom:1px solid #da5013;
    padding:5px 4px 4px;
}

.forumpost .topic .subject {
    font-weight: bold;
    font-size: 1.1em;
}

.forumpost .topic .author {
    font-size: 0.9em;
}

.forumpost .content {
    background: #f7f5f1;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #d9d8d4;
}

/* Course
---------------------------*/

h2.headingblock {
	 background-image:  url([[pix:theme|grad-b]]);
    background-color:  #689300;
    border: 1px solid #BBBBBB;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    text-transform: uppercase;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

.course-content .main {
    background: #f7f5f1;
    border: 1px solid #ddd
}

.course-content .current {
    background: #da5013;
}

.course-content .current .left.side {
  color: #fff;
}

.course-content .main .content {
    background: #fff;
}

/* Dock
---------------------------*/

#dock {
    background-color: #f7f5f1;
    border-right-color: #433b30;
}

#dock .dockeditem_container {
    margin-top: 10px;
}

#dock .dockeditem {
    background-color: #fff;
}

#dock .firstdockitem {
    margin-top: 1em;
}

#dock .dockeditem .dockedtitle {
    border-color: #dddddd;
    border-top-color: #fff;
}

#dock .dockeditem .dockedtitle.activeitem {
    background: #f7f5f1;
    border-top-color:#f7f5f1 ;
}

#dock .firstdockitem .dockedtitle {
    border-top-color: #ddd;
}

#dock .dockeditem .dockedtitle h2 {
    margin: 12px 0 12px 7px;
}

#dockeditempanel .dockeditempanel_content {
    border-color: #433b30;
}

#dockeditempanel .dockeditempanel_hd {
    border-bottom: none;
    padding: 3px 5px;
    background: #f7f6f1;
    text-align: left;
}

#dockeditempanel .dockeditempanel_hd h2 {
    color: #333;
    text-align: left;
    font-weight: normal;
    font-size: 1.25em;
    padding: 0 2px;
}

#dockeditempanel .dockeditempanel_hd .commands {
    float: right;
}
/* block expansion code */

.block_js_expansion .block_tree {
    overflow-x: scroll;
}

.block_js_expansion.mouseover .content {
    width: 200%;
    z-index: 1000;
    position: relative;
}

.block_js_expansion.mouseover .content .block_tree {
    width: 100%;
    background-color: #FAFAFA;
    padding-bottom: 0px;
}

/** IE stylings */

.ie6 .block .block_tree {
    width: 160px;
    overflow-x: scroll;
}

.ie6 .block_tree .tree_item {
    width: 100%;
}

.ie6 #dock {
    position: absolute;
}

.ie6 #dock hr {
    display: none;
    margin: 0px;
    height: 0px;
    padding: 0px;
}

.ie6 #dock li p {
    background-color: inherit;
}

.ie6 #dock .bd.oversized_content .content, .ie7 #dock .bd.oversized_content .content {
    padding-bottom: 0px;
}

.ie6 .block_js_expansion.mouseover .content, .ie7 .block_js_expansion.mouseover .content {
    padding-bottom: 2px;
}

.ie6 #dock .bd.oversized_content {
    width: 100%;
}

