/*overrides for custom menu. don't touch */
/*YUI Reset */
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-content{ background-position: -10000px -10000px; border: none;
	border-top: none;}

.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label{ background-position: -10000px -10000px; border: none;
	border-top: none; }

.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label-active,.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menuitem-active .yui3-menuitem-content,.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label-menuvisible{ background-position: -10000px -10000px; border: none;
	border-top: none; }

.yui3-skin-sam #page .yui3-menu-label,
.yui3-skin-sam #page .yui3-menu .yui3-menu .yui3-menu-label { background-position: right center; border: none;
	border-top: none;}

.yui3-skin-sam #page .yui3-menubuttonnav .yui3-menu-label em { background-position: right center; border: none;
	border-top: none;}

.yui3-skin-sam #page .yui3-splitbuttonnav .yui3-menu-label .yui3-menu-toggle { background-position: 3px center;	border: none;
	border-top: none; }

.yui3-skin-sam #page .yui3-splitbuttonnav .yui3-menu-label-menuvisible .yui3-menu-toggle { background-position: 0% 50%; border: none;
	border-top: none;}

.yui3-skin-sam #page .yui3-menu-content, .yui3-skin-sam #page .yui3-menu .yui3-menu .yui3-menu-content, .yui3-skin-sam #page .yui3-menu ul.first-of-type, .yui3-skin-sam #page .yui3-menu-horizontal ul  {
	border: none;
	border-top: none;
}
/*end overrides for custom menu. don't touch */

/* menu bar background */
#custommenu-wrap {
	float: left;
	margin-left: 20px;
}

#custommenu {
	font-size: 13px;
	font-weight: 600;
	background: none !important;
	float:left;
	
}
#custommenuwrap {
	background-image: url([[pix:theme|menudiv]]);
	background-repeat: repeat-x;
}


#custommenu * {
	border: none ;
}

/*bar menu item */
.yui3-menu-content li a {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 40px;
	cursor: pointer;
	border: none !important;
	color: #333 !important;
	text-shadow: 0 1px 1px 	#fff;
	
}

.yui3-menu-content li a:hover, .yui3-menu-content li:hover a {
	background-image: none !important;
}

/*bar menu item hover background color */
.yui3-menu-content li:hover, div.yui3-menu.custom_menu_submenu {
	background: #eee !important;
}

div.yui3-menu.custom_menu_submenu {
-moz-box-shadow: 1px 3px 4px #ccc;
	-webkit-box-shadow: 1px 3px 4px #ccc;
	box-shadow: 1px 3px 4px #ccc;
}

div.yui3-menu.custom_menu_submenu div.yui3-menu.custom_menu_submenu {
	background: none !important;
	min-width: 100px;
	
}

/*submenu background color */
div.yui3-menu.custom_menu_submenu div.yui3-menu-content {
	background: #ECF4F9  !important;
}

div.yui3-menu.custom_menu_submenu div.yui3-menu-content {
	min-width: 200px;
	padding-bottom: 0 !important;
}

div.yui3-menu.custom_menu_submenu .yui3-menu-content li {
	border-left: none;
	background: none !important;
}

/*submenu link color and size */
div.yui3-menu.custom_menu_submenu .yui3-menu-content li a {
	font-size: 12px;
	text-transform: none;
	background: none !important;
	text-decoration: none !important;
	line-height: 32px !important;
}

/*submenu hover */
div.yui3-menu.custom_menu_submenu .yui3-menu-content li a:hover, div.yui3-menu.custom_menu_submenu li a.yui3-menu-label:hover {
	background: #ccc !important;
}
