#page-header a {
	float: right;
	line-height: 0px;
}

a:link {
	color: #29A6C9;
}
a:visited {
	color: 1F7E99;
}
a:hover {
	color: 1F7E99;
	text-decoration: underline;
}
	

img.block-hider-hide {
    background-color: #FFFFFF;
}
img.block-hider-show {
    background-color: #FFFFFF;
}

#sonsbeekmedia-page-footer #footer {
	border-top: 4px solid #000000;
	clear: both;
	font-size: 13px;
	padding-bottom: 20px;
	padding-top: 10px;
}

#sonsbeekmedia-page-footer #footer li,#sonsbeekmedia-page-footer #footer ul {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sonsbeekmedia-page-footer #footer p {
	margin: 0;
	padding: 0;
}

#sonsbeekmedia-page-footer #footer a {
	font-weight: bold;
}

#sonsbeekmedia-page-footer #footer a:link {
	text-decoration: none;
}

#sonsbeekmedia-page-footer #footer a {
	color: #000000;
}

body#page-site-index.course div#region-main-wrap div#region-main  div.region-content ul.unlist
	{
	background-color: #fff;
	padding: 10px;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	box-shadow: 0 0 5px #888888;
}



#page-site-index .headingblock {
	margin-bottom: 0;
}

#page-content #region-main {
	margin-left: 420px;
	padding: 0 5px;
}

#page-content #region-post-box {
	padding-top: 0px;
}

#maincontent {
	display: block;
	height: 0px;
	overflow: hidden;
}

.categorylist .category,.course_category_tree {
	background-color: #E8F0DD;
	border-bottom: 1px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	padding: 10px;
}

.categorylist .category a,.course_category_tree a {
	color: #000;
	text-decoration: underline;
}

.sonsbeekmediafixed {
	width: 990px;
	margin: auto;
}

.sonsbeekmedialogin {
	background-image: url([[pix:theme|login]]);
	background-repeat: no-repeat;

}

.loginpanel {
	background-image: url([[pix:theme|transblack]]);
	-moz-border-radius: 35px;
	border-radius: 35px;
	color: #FFF;
}

.loginbox .loginform .form-input #username, .loginbox .loginform .form-input #password {
	border-radius: 5px;
    border: 2px solid #DDDDDD;
    color: #333333;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.1em;
    margin: 0 0 5px;
    padding: 3px;
    width: 97%;
}

.loginbox .loginform {
    margin-left: 50px;
    width: 175px;
}

.loginbox h2 {
    margin-left: 50px;
    padding-top: 35px;
    text-align: left;
}



.loginbox .guestsub {
    border-top: none;
    margin-left: 50px;
}
.loginbox .subcontent {
    text-align: left;
}

.loginbox .loginpanel .desc {
    visibility: hidden;
    height: 0px;
}

.loginbox .loginsub {
    margin-top: 0;
    padding-top: 0;
}

.course_category_tree .with_children {
	line-height: 2;
}

.course_category_tree .category .courses .course_link {
	background-position: 0 69%;
}

#sonsbeekmedia-infographic {
	background-image: url([[pix:theme|sonsbeekmedia-infographic-990]]);
	height: 200px;
}
	
.loginbox .loginerrors {
    color: #FF0000;
    margin-left: 50px;
}
